<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mi.mapper.AddresMapper">
    <resultMap id="BaseResultMap" type="com.mybatis.mi.entity.Addres">
        <id property="addresId" column="addres_id"/>
        <result property="addresDetail" column="addres_detail"/>
        <result property="addresName" column="addres_name"/>
        <result property="addresPhone" column="addres_phone"/>
    </resultMap>

    <insert id="insert" >
        insert into addres (addres_name,addres_phone,addres_detail,addres_state) values
        (#{addres.addresName},#{addres.addresPhone},#{addres.addresDetail},#{addres.addresState})
    </insert>

    <update id="update">

    </update>

    <select id="selectListByUserId" resultMap="BaseResultMap">
        select user_id,addres_id,addres_detail,addres_name,addres_phone,addres_state,status
        from addres where addres_state=0 and user_id=#{userId}
    </select>
</mapper>