<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mi.mapper.OrderItemMapper">
    <resultMap id="BaseResultMap" type="com.mybatis.mi.entity.OrderItem">
        <id column="item_id" property="itemId"/>
        <result column="product_naem" property="productName"/>
        <result column="product_img" property="productImg"/>
    </resultMap>
</mapper>